.filter-menu {
	display: inline-block;
	cursor: pointer;
	position: relative;
	text-align: left;
}
.filter-menu__hidden {
	display: none;
	position: absolute;
	background-color: #222;
	border: 1px solid #aaa;
	padding: 10px;
	top: 100%;
	cursor: auto;
}
.filter-menu__option {
	/*cursor: pointer;*/
	display: block;
}

.filter-menu:hover .filter-menu__hidden {
	display: inline-block;
}

label.filter-menu__option:hover .font-icon{
	color: #ccc;
}