.filtered-list ol {
	position: sticky;
	top: 0;
	background: #222;
	counter-reset: nst-1;
	padding: 0;
	/* border-bottom: 1px solid #aaa; */
}
.filtered-list ol li {
	counter-increment: nst-1;
	display: inline-block;
	white-space: nowrap;
	margin: 5px;
	text-align: center;
	/* border: 1px solid #aaa; */
	padding: 5px;
}
.filtered-list li:before {
	width: 100%;
	content: counter(nst-1)". ";
}
.bottom-border {
	display: flex;
}
.bottom-border__border {
	border-bottom: 2px solid #aaa;
	flex: auto;
	margin: 8px;
}