.method-display-block {
	margin: 10px;
	padding: 10px;
}
.method-display-block>* {
	margin: 10px;
}
.method-display-block *[title] {
	cursor: pointer;
}
.method-display-block table {
	width: 100%;
}
.method-display-block__prop-name {
	font-style: italic;
}
.method-display-block__prop-value {
	/* font-weight: bold; */
	margin: 3px;
	color: #0a8;
	font-family: consolas,  monospace;
}
.method-display-block__title {}
.method-display-block__description {}